

body {
    display: flex;
    min-height: 100vh; 
    align-items: center; 
}

.container-centralizado {
    margin: 0 auto;
  }

img {
    max-width: 100%;
    max-height: 100%;
    margin-left: 10px;
}

.container {
    margin-top: 10px;
    border-radius: 5px;
    border: 2px solid #f9f5f5;
    width: 100%;
    color: rgb(113, 109, 109);
}

#image {
    height: auto;
    width: auto;
    padding: auto;
    margin: auto;
}

.col {
    margin: 50px;
    text-align: center;
}

#buttonLogin {
    width: auto;
    height: auto;
    justify-content: center;
}

.btn-group {
    width: 100%;
    align-items: baseline;
    color: rgb(113, 109, 109);
    justify-content: center;
    margin-top: 20px;
}

.btn-group a {
    color: black;
    outline-style: none;
    box-shadow: none;
    border-color: transparent; 
    margin-left: 5px;
    margin-right: 5px;
}

#button-create {
    color: rgb(13, 202, 240);
}


